<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infrastructure.Properties.Settings>
            <setting name="OrdersMainView" serializeAs="String">
                <value>Create View</value>
            </setting>
            <setting name="AppPrimaryColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="AppSecondaryColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
        </Infrastructure.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.30" newVersion="17.3460.0.30" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.30" newVersion="17.3460.0.30" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>